body {
	font-family: 'Verdana', sans-serif;
	font-size: 48px;
	font-weight: bold;
	padding: 4px;
	margin: 0;
	text-align: center;
	text-shadow: 4px 4px 4px black;
	background-color: black; 
	overflow: hidden 
}

div.vocal {
	position: absolute;
	left: 50%;
	bottom: 50px;
    margin-left: -45%;
    width: 90%;	
	color: #888888;
}

span.lyric {
	color: #ffffff;
}
